<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloader</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link btn btn-primary" data-bs-target="#addFileModal" data-bs-toggle="modal" id="openModalButton" type="button">Add</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-secondary" type="button">Clear</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-success" type="button">Stats</button>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <input class="form-control mb-2" id="fileNameInput" placeholder="Enter file name" type="text">
                <input class="form-control" id="destinationInput" placeholder="Enter destination" type="text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="addFileButton" onclick="addFile()" type="button">Add File</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="w-25" scope="col">File name</th>
        <th class="w-25" scope="col">Downloaded</th>
        <th class="w-50" scope="progress">Progress</th>
        <th class="w-25" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="downloadItem : ${downloadList}">
        <td class="align-middle" th:text="${downloadItem.downloadedFilePath}"></td>
        <td th:data-download-id="${downloadItem.id}" class="resume-offset align-middle" th:text="${downloadItem.getResumeOffset()} +'/'+ ${downloadItem.getTotalSize()}"></td>
        <td class="align-middle">
            <div class="progress w-75">
                <div class="progress-bar" th:id="'progress_' + ${downloadItem.id}" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
        </td>
        <td class="align-middle">
            <button class="btn btn-primary toggle-download-btn" th:id="'toggleDownloadBtn_' + ${downloadItem.id}"
                    th:data-download-id="${downloadItem.id}" th:data-is-downloading="${downloadItem.isDownloading()}">
                Resume
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function addFile() {
        const fileName = $('#fileNameInput').val();
        const destination = $('#destinationInput').val();

        const requestData = {
            url: fileName,
            dest: destination
        };

        $.ajax({
            type: 'POST',
            url: '/downloads/addFile',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
                console.log(response);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                // Handle error response
            }
        });

        $('#addFileModal').modal('hide');
    }

    function toggleDownload(downloadId, isDownloading) {
        const url = isDownloading ? '/downloads/' + downloadId + '/pause' : '/downloads/' + downloadId + '/resume';
        const buttonText = isDownloading ? 'Resume' : 'Pause';

        console.log(isDownloading);

        // Update the button text dynamically
        $('#toggleDownloadBtn_' + downloadId).html(buttonText);

        // Make the AJAX request
        $.post(url, function (response) {
            console.log(response);
        });
    }

    $(document).on('click', '.toggle-download-btn', function () {
        const downloadId = $(this).data('download-id');
        const isDownloading = $(this).data('is-downloading') === 'true';
        toggleDownload(downloadId, isDownloading);
    });

    var stopUpdating = {};

    function updateResumeOffset() {
        $('.resume-offset').each(function () {
            const div = $(this);
            const downloadId = div.data('download-id');
            const progress = $('#progress_' + downloadId);
            const button = $('#toggleDownloadBtn_' + downloadId);

            if (!stopUpdating[downloadId]) {
                $.get('/downloads/' + downloadId + '/progress', function(data) {
                    const totalSize = div.text().split('/')[1];
                    if (data === Number(totalSize)) {
                        div.html('Completed (' + totalSize + ' bytes)');
                        stopUpdating[downloadId] = true;

                        button.html("Completed");
                        button.attr("disabled", true);
                    } else {
                        div.html(data + '/' + totalSize);
                    }
                    progress.css('width', (Number(data) / Number(totalSize)) * 100 + '%');
                    progress.html((Number(data) / Number(totalSize) * 100).toFixed(2) + '%');
                }).fail(function() {
                    div.html('Error fetching data');
                });
            }
        });
    }

    setInterval(updateResumeOffset, 1000);
</script>
</body>
</html>
