<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Downloader</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link btn btn-primary" data-bs-target="#addFileModal" data-bs-toggle="modal" id="openModalButton" type="button">Add</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-success" type="button">Stats</button>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" th:if="${isAdmin} == true">
                    <a class="nav-link btn btn-danger" target="_blank" rel="noopener noreferrer" href="/admin">Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <input class="form-control mb-2" id="fileNameInput" placeholder="Enter file name" type="text">
                <input class="form-control" id="destinationInput" placeholder="Enter destination" type="text">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="addFileButton" onclick="addFile()" type="button">Add File</button>
            </div>
        </div>
    </div>
</div>
<div id="downloadsTableContainer">
    <table class="table">
        <thead>
        <tr>
            <th class="w-25" scope="col">File name</th>
            <th class="w-25" scope="col">Downloaded</th>
            <th class="w-50" scope="progress">Progress</th>
            <th class="w-25" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="downloadItem : ${downloadList}">
            <td class="align-middle" th:text="${downloadItem.downloadedFilePath}"></td>
            <td class="align-middle resume-offset" th:data-download-id="${downloadItem.id}"
                th:text="${downloadItem.resumeOffset} + '/' + ${downloadItem.totalSize}"></td>
            <td class="align-middle">
                <div class="progress w-75">
                    <div class="progress-bar" th:id="'progress_' + ${downloadItem.id}" role="progressbar"
                         th:style="'width:' + (${downloadItem.resumeOffset} * 100 / ${downloadItem.totalSize}) + '%'">
                        <span th:text="(${downloadItem.resumeOffset} * 100 / ${downloadItem.totalSize}) + '%'"></span>
                    </div>
                </div>
            </td>
            <td class="align-middle d-flex">
                <button class="btn btn-primary toggle-download-btn mx-2" th:id="'toggleDownloadBtn_' + ${downloadItem.id}"
                        th:onclick="'toggleDownload(\'' + ${downloadItem.id} + '\',\'' + ${downloadItem.downloading} + '\')'">
                    <span th:text="${downloadItem.downloading} ? 'Pause' : 'Resume'"></span>
                </button>

                <button class="btn btn-secondary clear-btn" th:id="'clearBtn_' + ${downloadItem.id}"
                        th:onclick="'clearDownload(\'' + ${downloadItem.id} + '\')'">
                    <span th:text="Clear"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>

    var stopUpdating = {};

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    function clearDownload(id) {
        const url = "/downloads/" + id + "/clear";

        toggleDownload(id, true);

        $.ajax({
            type: 'DELETE',
            url: url,
            beforeSend: function(request) {
                request.setRequestHeader(header, token);
            },
            success: function(response) {
                console.log(response)
                location.reload()
            },
            error: function(xhr) {
                console.error(xhr.responseText);
            }
        });
    }

    function addFile() {
        const fileName = $('#fileNameInput').val();
        const destination = $('#destinationInput').val();


        const requestData = {
            url: fileName,
            dest: destination,
        };

        $.ajax({
            type: 'POST',
            url: '/downloads/addFile',
            contentType: 'application/json',
            beforeSend: function(request) {
                request.setRequestHeader(header, token);
            },
            data: JSON.stringify(requestData),
            success: function(response) {
                console.log(response);
                location.reload()
            },
            error: function(xhr) {
                console.error(xhr.responseText);
            }
        });

        $('#addFileModal').modal('hide');
    }

    function toggleDownload(downloadId, isDownloading) {
        const url = isDownloading === 'true' ? '/downloads/' + downloadId + '/pause' : '/downloads/' + downloadId + '/resume';

        $.post({
            url: url,
            success: function(response) {
                console.log(response);
                location.reload()
            },
            beforeSend: function(request) {
                request.setRequestHeader(header, token);
            },
            error: function(xhr) {
                console.error("Failed to toggle download state:", xhr.responseText);
            }
        });
    }

    function updateResumeOffset() {
        $('.resume-offset').each(function () {
            const div = $(this);
            const downloadId = div.data('download-id');
            const progress = $('#progress_' + downloadId);
            const button = $('#toggleDownloadBtn_' + downloadId);

            if (!stopUpdating[downloadId]) {
                $.get('/downloads/' + downloadId + '/progress', function(data) {
                    const totalSize = div.text().split('/')[1];
                    if (data === Number(totalSize)) {
                        div.html('Completed (' + totalSize + ' bytes)');
                        stopUpdating[downloadId] = true;

                        button.html("Completed");
                        button.attr("disabled", true);
                    } else {
                        div.html(data + '/' + totalSize);
                    }
                    progress.css('width', (Number(data) / Number(totalSize)) * 100 + '%');
                    progress.html((Number(data) / Number(totalSize) * 100).toFixed(2) + '%');
                }).fail(function() {
                    div.html('Error fetching data');
                });
            }
        });
    }

    setInterval(updateResumeOffset, 1000);
</script>
</body>
</html>